/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paprika&display=swap");
/* Common CSS style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
:root {
  --nav-color: rgb(22, 12, 109);
  --secondary-color: #6b62c5;
  --primary-color: #f9f9fb;
  --footer-color: #48409c;
  --white-color: #fff;
  --green-color: #1bbf00;
  --black-font: #141135;
  --light-font: #726e9e;
  /* contant size */
  --section-size: 1170px;
  /* fonts */
  --normal-font: "Open Sans", sans-serif;
  --italic-font: "Paprika", system-ui;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white-color);
}
.section_container {
  max-width: var(--section-size);
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
  display: inline-block;
}
ul,
li,
ol {
  list-style: none;
}
/* Common CSS style */

/* Header Section */
header {
  background: linear-gradient(rgb(107, 98, 197, 0.7), rgb(107, 98, 197, 0.7)),
    url(images/Banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
/* Navbar Section */
header nav {
  background: rgb(22, 12, 109, 0.5);
  max-height: 100px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
header .navbar img {
  max-width: 103px;
}
header ul {
  display: flex;
  gap: 40px;
}
header select {
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: var(--normal-font);
  font-weight: 600;
  color: var(--white-color);
  transition: 0.3s;
}
header select:focus {
  box-shadow: 0 0 5px rgba(102, 233, 144, 0.6);
}
header select option {
  background: var(--primary-color);
  text-align: center;
  color: var(--black-font);
}
header select:hover {
  color: var(--green-color);
}
.btn {
  border-radius: 100px;
  border: transparent;
  background: var(--green-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  transition: 0.3s;
}
header .nav_btn .btn {
  padding: 14px 28px;
}
.btn:hover {
  background: transparent;
  border: 2px solid var(--green-color);
}
/* Navbar Section */

/* Hero Section */
header .hero_section {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 70px auto 0px;
}
header .hero_section h1 {
  font-size: 84px;
  text-align: center;
  font-family: var(--normal-font);
  color: var(--white-color);
  font-weight: 700;
  line-height: 100px;
}
header .hero_section p {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--italic-font);
  color: var(--white-color);
  text-align: center;
  line-height: 40px;
}
header .hero_section .btn {
  padding: 20px 40px;
}
/* Hero Seciton */

/* Achivement Section */
main .ImgBoxes {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
main .imgBox1 {
  max-width: 300px;
  height: 200px;
  position: relative;
}
main .imgBox1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
main .imgBox2 {
  max-width: 170px;
  height: 300px;
  position: relative;
}
main .imgBox2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
main .imgBox3 {
  max-width: 310px;
  height: 269px;
  position: relative;
}
main .imgBox3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
main .imgBox4 {
  max-width: 250px;
  height: 341px;
  position: relative;
}
main .imgBox4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
main .overly {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #6b62c5 -1.13%,
    rgba(255, 255, 255, 0) 58.11%
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
main .overlyTitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
  color: var(--white-color);
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
main .overlyTitle h3 {
  font-family: var(--normal-font);
  font-size: 24px;
}
main .overlyTitle p {
  font-family: var(--italic-font);
  margin: 10px 0;
}
main .imgBox1:hover .overlyTitle {
  opacity: 1;
}

main .imgBox1:hover .overly {
  opacity: 1;
}
main .imgBox2:hover .overlyTitle {
  opacity: 1;
}

main .imgBox2:hover .overly {
  opacity: 1;
}
main .imgBox3:hover .overlyTitle {
  opacity: 1;
}

main .imgBox3:hover .overly {
  opacity: 1;
}
main .imgBox4:hover .overlyTitle {
  opacity: 1;
}

main .imgBox4:hover .overly {
  opacity: 1;
}
main .achivmentContant_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0px;
}
main .achivmentContant_section .achivment_contant {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  text-align: center;
  padding: 0px 30px;
  border-right: 4px solid rgb(79, 88, 95, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
main .achivmentContant_section .achivment_contant h3 {
  font-size: 64px;
  color: var(--green-color);
  font-weight: 800;
  line-height: 68px;
  font-family: var(--normal-font);
}
main .achivmentContant_section .achivment_contant p {
  font-size: 26px;
  font-family: var(--normal-font);
  line-height: 40px;
  color: var(--black-font);
  font-weight: 700;
}
/* Achivement Section */

/* Why us Section */
#why {
  background: #fdfdfd;
  position: relative;
  min-height: 600px;
}
#why .firstImg {
  position: absolute;
  top: 0;
  left: 0;
}
#why .secondImg {
  position: absolute;
  top: 35px;
  left: 0;
}
#why .why_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}
#why .items_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
#why .items {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 560px;
  transition: 0.3s ease;
}
#why .items img {
  max-width: 40px;
}
#why .items p {
  font-size: 18px;
  line-height: 30px;
  font-family: var(--italic-font);
}
#why .items:hover {
  background: var(--white-color);
  border-radius: 12px;
  box-shadow: 10px 30px 60px 0px rgba(162, 169, 192, 0.15);
  padding: 42px 28px;
}
#why .title {
  max-width: 400px;
}
#why .title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--black-font);
  font-family: var(--normal-font);
}
#why .title p {
  font-family: var(--italic-font);
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0;
}
#why .title button {
  padding: 14px 28px;
  border-radius: 100px;
  border: transparent;
  background: var(--green-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  transition: 0.2s;
  margin-top: 30px;
}
#why .title button:hover {
  background: transparent;
  border: 2px solid var(--green-color);
  color: var(--black-font);
}
/* Why us Section */

/* What We Do Section */
#we_do {
  background: #f6f5ff;
}
#we_do .we_do_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
#we_do .we_do_summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}
#we_do .we_do_summary h2 {
  font-family: var(--normal-font);
  font-size: 38px;
  font-weight: 700;
  color: var(--black-font);
}
#we_do .we_do_summary p {
  font-family: var(--normal-font);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: justify;
}
#we_do .we_do_summary .btn {
  padding: 20px 40px;
}
#we_do .we_do_summary .btn:hover {
  color: var(--black-font);
}
#we_do .we_do_cards {
  padding: 40px 25px;
  max-width: 300px;
  min-height: 400px;
  background: var(--white-color);
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#we_do .we_do_cards:hover {
  background: var(--secondary-color);
}
#we_do .we_do_cards:hover .weDoCard_contant h3,
#we_do .we_do_cards:hover .weDoCard_contant p,
#we_do .we_do_cards:hover .weDoCard_contant button {
  color: var(--white-color);
}
#we_do .we_do_cards img {
  max-width: 64px;
}
#we_do .weDoCard_contant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#we_do .weDoCard_contant h3 {
  font-size: 25px;
  font-family: var(--normal-font);
  font-weight: 700;
  line-height: 35px;
  color: var(--black-font);
}
#we_do .weDoCard_contant p {
  font-family: var(--italic-font);
  color: var(--light-font);
  text-align: center;
  line-height: 30px;
}
#we_do .we_do_cards button {
  padding: 8px 10px;
  background: transparent;
  border: none;
  font-family: var(--normal-font);
  font-size: 16px;
  font-weight: 700;
  position: relative;
  color: var(--black-font);
}
#we_do .we_do_cards button span {
  border-radius: 0px 100px 100px 0px;
  background: var(--green-color);
  opacity: 0.3;
  padding: 8px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}
/* What We Do Section */

/* Real Impact Section  */
#realImpact {
  background: url(images/Vector3.png), var(--white-color);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 100px 0 100px;
}
#realImpact .section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 550px;
  margin: auto;
  text-align: center;
}
#realImpact .section_title h2 {
  color: var(--black-font);
  font-family: var(--normal-font);
  font-size: 38px;
  font-weight: 700;
}
#realImpact .section_title p {
  color: var(--secondary-color);
  font-family: var(--italic-font);
  line-height: 30px;
  font-size: 16px;
}
#realImpact .realImpactContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 55px 0 100px;
}
#realImpact .realImpactContainer .left {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}
#realImpact .realImpactContainer .left .contant {
  display: flex;
  gap: 30px;
  align-items: center;
}
#realImpact .realImpactContainer .left .contant img {
  max-width: 63px;
}
#realImpact .realImpactContainer .left .contant .summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#realImpact .realImpactContainer .left .contant .summary h3 {
  font-family: var(--normal-font);
  font-size: 25px;
  color: var(--black-font);
  line-height: 36px;
  letter-spacing: 0.5px;
}
#realImpact .realImpactContainer .left .contant .summary p {
  font-family: var(--italic-font);
  color: var(--secondary-color);
  line-height: 30px;
}
#realImpact .realImpactContainer .right {
  position: relative;
}
#realImpact .realImpactContainer .right .realImapactImges1 {
  position: absolute;
  max-width: 280px;
  height: 239px;
  left: 200px;
  top: 0px;
  border: 6px solid var(--white-color);
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 1;
}
#realImpact .realImpactContainer .right .realImapactImges1:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
#realImpact .realImpactContainer .right .realImapactImges1 img {
  max-width: 280px;
  height: 239px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#realImpact .realImpactContainer .right .realImapactImges2 {
  position: absolute;
  max-width: 190px;
  height: 228px;
  left: 50px;
  top: -110px;
  border: 6px solid var(--white-color);
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#realImpact .realImpactContainer .right .realImapactImges2:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
#realImpact .realImpactContainer .right .realImapactImges2 img {
  max-width: 190px;
  height: 228px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#realImpact .realImpactContainer .right .realImapactImges3 {
  position: absolute;
  max-width: 140px;
  height: 121px;
  bottom: 10px;
  left: 240px;
  border: 6px solid var(--white-color);
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#realImpact .realImpactContainer .right .realImapactImges3:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
#realImpact .realImpactContainer .right .realImapactImges3 img {
  max-width: 140px;
  height: 121px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* Real Impact Section  */

/* Choose Right plan section */
#rightPlan {
  background: var(--primary-color);
  padding: 100px 0;
}
#rightPlan h2 {
  text-align: center;
  font-family: var(--normal-font);
  font-size: 38px;
  color: var(--black-font);
}
#rightPlan .rightPlanContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
}
#rightPlan .rightPlanCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 340px;
  padding: 40px 0;
  background: var(--white-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#rightPlan .rightPlanCard:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#rightPlan .rightPlanCard:hover h4,
#rightPlan .rightPlanCard:hover .contant p {
  color: #fff;
}
#rightPlan .rightPlanCard h4 {
  font-size: 24px;
  font-family: var(--normal-font);
  color: var(--black-font);
  line-height: 36px;
}
#rightPlan .rightPlanCard img {
  width: 100%;
}
#rightPlan .rightPlanCard .contant {
  padding: 0 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#rightPlan .rightPlanCard .contant .price {
  display: flex;
  justify-content: center;
}
#rightPlan .rightPlanCard .contant h3 {
  font-family: var(--normal-font);
  color: var(--green-color);
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
}
#rightPlan .rightPlanCard .contant sup {
  color: var(--green-color);
  font-size: 24px;
  font-weight: 700;
  font-family: var(--normal-font);
}
#rightPlan .rightPlanCard .contant p {
  color: var(--light-font);
  font-family: var(--italic-font);
  line-height: 32px;
}
/* Choose Right plan section */

/* About us section */
#about_us {
  background: #f8f8ff;
  padding: 100px 0;
}
#about_us h2 {
  font-size: 38px;
  font-family: var(--normal-font);
  text-align: center;
  font-weight: 700;
}
#about_us .aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 950px;
  margin: auto;
  position: relative;
  padding: 70px 124px;
  background: var(--white-color);
  margin-top: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.3);
}
#about_us .aboutUsContainer::before {
  content: ">";
  width: 54px;
  height: 54px;
  display: block;
  background: var(--green-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 54px;
  font-size: 54px;
}
#about_us .aboutUsContainer img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#about_us .aboutUsContainer span {
  color: orange;
  display: flex;
  gap: 10px;
}
#about_us .aboutUsContainer > p {
  color: var(--light-font);
  font-family: var(--italic-font);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
#about_us .aboutUsContainer .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#about_us .aboutUsContainer .details h4 {
  color: var(--black-font);
  font-size: 25px;
  font-family: var(--normal-font);
  font-weight: 700;
  line-height: 40px;
}
#about_us .aboutUsContainer .details p {
  color: var(--light-font);
  font-family: var(--italic-font);
  font-size: 12px;
  line-height: 25px;
}
/* About us section */
